// --------------------------------------------------------------------------
//  Copyright 2013 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

/// Since all of the targets link against SenTestKit, we need to be able to find it.
/// It's in a different location on the Mac and iOS, but luckily our standard xcconfig
/// files define a setting UNIT_TEST_FRAMEWORK_PATH with its location:

FRAMEWORK_SEARCH_PATHS = "$(UNIT_TEST_FRAMEWORK_PATH)"
